* {
    box-sizing: border-box;
}

.container {
    background-color: lightgreen;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
}

.item {
    background-color: beige;
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-home {
    display: flex;
    position: absolute;
    left: 15px;
    top: 15px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    height: 40px;
    width: 100px;
    border-style: hidden;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
}
